<!DOCTYPE html>
<html lang="pt">
<head>
  <meta charset="UTF-8">
  <title>Número Aleatório</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <style>
    main { text-align: center; margin-top: 40px; }
    .num { font-size: 80px; font-weight: 700; margin: 20px 0; }
  </style>
</head>
<body>
  <main>
    <h1>O teu número aleatório é</h1>
    <div class="num">{{ numero }}</div>

    <a href="{{ url_for('index') }}" class="btn-random">Voltar à aplicação</a>
  </main>
</body>
</html>
